<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Coucou. C'est déjà un peu mieux !

    {% if entities %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for mug in entities %}
            <tr>
                <td>{{ mug.id }}</td>
                <td>{{ mug.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="error">Pas de données</p>
    {% endif %}
</body>
</html>